[Unit]
Description=Telegram Chupakabra bot
After=multi-user.target

[Service]
RestartSec=10
Restart=always
ExecStart=source /root/telegram_chupakabrada_bot/telegram_chupakabrada_bot/venv/bin/activate && python /root/telegram_chupakabrada_bot/telegram_chupakabrada_bot/bot.py

[Install]
WantedBy=multi-user.target
